.blog-card {
  margin: 8px;
  background: #F2A359;

  .blog-content {
    p {
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .blog-title {
    font-size: 32px;
  }

}