.title {
  display: flex;
  justify-content: center;
}
.main {
  .content-info {
    display: flex;
    justify-content: flex-end;
  }
  
  .edit-button-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  
  .cover-image-container {
    width: 80%;
    margin: auto;
  
    .cover-image {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .content-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .date {
      font-weight: 1.2rem;
    }

    .score {
      font-size: 1.4rem;
      font-weight: bold;
    }
  }
}