.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 160px;
  
  .title {
    margin-top: 0;
    font-size: 1.1rem;
    font-weight: bold;
  }
  .main {
    display: flex;   

    .description {
      width: 90%;
      font-size: 0.9rem;
    }

    .score {
      font-size: 1.4rem;
      margin: auto;
    }
  }
}